





body {
    background-color: whitesmoke;
}

/* Define styles for the white section */
.white-section {
    background-color: white;
    padding: 40px; /* Add padding for content spacing */
}
.menu-bar {
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  .menu-bar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar li {
    margin: 0 20px;
  }
  
  .menu-bar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
  }
  
  .menu-bar a:hover {
    color: #ff9900;
  }
  /* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Style the logo */
.logo img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f39c12;
}
/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Style the logo container */
.logo {
    display: flex;
    align-items: center;
}

/* Style the logo image */
.logo img {
    width: 80px;
    height: auto;
    margin-right: 60px;
}

/* Style the logo text */
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f39c12;
}
/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the video section */
.video-section {
    text-align: center;
    padding: 50px 0;
    background-color: black;
}

.video-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.video-section video {
    width: 50%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2{
    size: 100px;
}
.black-background {
    background-color: black;
    color: white;
    padding: 50px;
    
}
